body {
    margin: 0;
    padding: 0;
    background-color: #FAEED1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;

}


.imagem-violao {
    
    width: 225px;
    height: 81px;
    
}

.header {
 
    border-bottom: 2px solid #DED0B6;
    background-color: #BBAB8C;
    
    position: fixed;
    width: 100vw;
    z-index: 1000;
    
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    

}

.navbar {
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    gap: 15px;
    color: #FFF8E7;
    cursor: pointer;
}

.navbar a {
    list-style: none;
    color: #FFF8E7;
    text-decoration: none;
    position: relative;
    
}

.navbar a li::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: 0.3s ease-in-out;
}

.navbar a:hover ::after {
    width: 100%;
}
.concertoTexto{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header .container {
    justify-content: space-between;
}

.container1 {
    height: 130vh;
    width: 100vw;
    background-color: #FAEED1;
 
    
}

.containerLinhaPreta {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.containerdivisãoheader {

    height: 20vh;


}

.invisivel {
    opacity: 0;
    filter: blur(15px);
    transition: all 2.8s;
    transform: translateX(-100%) ;
}

.show {
    opacity: 1;
    transition: all 2.8s;
    filter: blur(0px);
    transform: translateX(0%);
}

.linhaPreta {
    width: 1000px;  
    height: 250px;
}

.duasPessoas {
    width: 321px;
    height: 318px;
    margin-left: 30px;
   
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vh;
}

.textoDuasPessoas {
    font-size: 21px;
    width: 715px;
   
    margin-left: 10vh;
}

.container3 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.imagemContainer4{ 
    width: 380px;
    height: 318px;
    margin-right: 30px;
}

.container4{
    display: flex;
    gap: 15vh;
    justify-content: center;
    align-items: center;
}

.textoContainer4 {
    font-size: 21px;
    width: 715px;
   
    margin-right: 10vh;
}


.containerComoAprender {
    background-color: #DED0B6;
    width: 100vw;
    height: 147vh;
    
   
   
}

.containerCifraClub {
    display: flex;
    justify-content: center;
    gap: 45vh;
    margin-top: 10vh;
    align-items: center;
 
}
.Titulo {
    font-size: 64px;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    
}

.imagemCifraClub {
    width: 268px;
    height: 268px;
    margin-right: 10vh;
    border-radius: 25px;
    
}

.imagemCifraClub:hover {

    height: 280px;
  
    transition: 200ms;
}

.textoCifraClub {
    width: 748px;

    margin-left: 10vh;
    font-size: 21px;
    
   
}

.tituloCifraClub {
    font-size: 64px;
    letter-spacing: 10px;
   margin: 0;
  
 
}

.tituloCifras{
  
    
    font-size: 64px;
    letter-spacing: 10px;
    margin: 0;

}

.imagemCifras {
    width: 268px;
    height: 268px;
    margin-left: 10vh;
    margin-top: 7vh;
}

.imagemCifras:hover{
 
    height: 280px; 
    border-radius: 5px;
    
    transition: 200ms;
    

}

.containerCifras{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
   align-items: center;
    gap: 45vh;
    margin-top: 15vh;
}

.textoCifras {
    font-size: 21px;
    width: 748px;
  
    
}

.divQuiz {
    background-color: #B2A59B;
    height: 75vh;
  
}
.conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tituloQuiz {

    font-size: 64px;
    letter-spacing: 10;
}

.textoQuiz {
  
    width: 748px;
   
    font-size: 23px;
}
.conteudo2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botaoQuiz {
    width: 532px;
    height: 78px;
    background-color:  #A5B2B2 ;
    color: black;
    letter-spacing: 10px;
    font-size: 36px;
    cursor: pointer;
    margin-top: 1.5vh;
}

.divFeitoPor {
    display: flex;
    height: 90vh;
    background-color: #607274;
    flex-direction: column;
    align-items: center;
 
}

.tituloFeitoPor {
    font-size: 64px;
    letter-spacing: 10px;
}

.imagemMoises {
   border: solid 5px black;
   ;
   height: 433px;
   width: 429px;
   border-radius: 25px;
}
  


.imagemMoises img {
    width: 429px;
    height: 432px;
 border-radius:22px;
}

.textoFeitoPor{
    margin-bottom: 5px;
    font-size: 20px;
    width: 748px;
    height: 287px;
}

.imagensFeitoPor {
    display: flex;
    justify-content: space-evenly;
    background-color: #607274;
    
 

}

.imagensFeitoPor img {
    width: 79px;
    height: 82px;
}



.conteudoFeitoPor{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgTexto{
    border: 5px solid;
    color: black;
    display: flex;
    align-items: center;
    height: 575px;
    gap: 10vh;
    width: 80vw;
    justify-content: center;
    background-color: #606060;
    border-radius: 25px;
    box-shadow: 0px 2px 40px -12px;
    color: #b5c9cb;
}

.contato h1 {
    display: flex;
 
    justify-content: center;
    margin: 0;
    margin-bottom: 5vh;
    color: rgb(0, 0, 0);
}

.contato {
    background-color: #607274;
}

.contfeito{
    background-color: #607274;
}