body{
    margin: 0;
    padding: 0;
    background: #FAEED1;
}

.container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#8b5742;
    border-radius: 50px;
    box-shadow: 0px 10px 30px #00000056;
    opacity: 0.7;
    gap: 3vh;
    width: 20%;
  
    
}

.titulo h1 {
    margin: 0;
    font-size: 50px;
    color: #ffca9a;
}

.input-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}


.input-login > input{
    width: 95%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #e6ae83;
    color: #000000;
    font-size: 12pt;
    box-shadow: 0px 10px 30px #00000056;
    outline: none;
}

.input-login > label {
    color : #b87333;
    margin-bottom: 10px;
    font-size: 19px;
}
.input-login input::placeholder {
    color : #000000;
}

.botaoLogin {
    width: 100%;
    padding: 16px 0px ;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffca9a;
    background:#b87333;
    cursor: pointer;
    box-shadow: 0px 2px 40px -12px;
}

.botaoLogin:hover {
    font-size:16px;

}

.conteudo p {
    color: rgb(0, 0, 0);
    margin: 0;
    text-decoration: none;
    font-size: 19px;
    list-style: none;
}

.conteudo a{
    list-style: none;
    text-decoration: none;
}

.conteudo p:hover{
    color: white;
    transition: 1s;
}